.first{
	width:100%;
	height: 80px;
	background-color: black;
}
.SY{width:70px;
	height: 20px;
	padding:30px 15px;
	color: white;
	float:left;
}
.UB{width:210px;
	height: 20px;
	padding:30px 15px;
	color: white;
	float: left;
}
.second{
	width:800px;
	height:71px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
	margin-left: 365px;
}
.three{
	width:800px;
	height:35.5px;
	color: #00FFFF;
	text-align: center;
	margin-left: 365px;
}
.four{
	width: 800px;
	height: 16px;
	margin-top:30px;
	margin-left: 350px;
	font-size: 10px;
}
.ml{
	width:800px;
	height: 30px;
	margin-left: 150px;
	font-size: 16px;
	font-weight: 100;
}
.mm{width:1300px;
	height: 70px;
	margin-left: 150px;
	margin-right: 150px;
	font-size: 16px;
	font-weight: 200;
}