*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 40px;
    background-color: #242424;
}
.header_1{
    width: 100px;
    height: 40px;
    background-image: url(../img/01.png);
    background-size: cover;
}
.header_2{
    width: 100%;
    height: 900px;
    background-color: white;
}
.header_3{
    width: 100%;
    height: 60px;
    background-color: black;
    float: top;
}
.header_4{
    width: 100%;
    height: 600px;
    background: url(../img/02.jpg);
    background-size: cover;
    font-family: 微软雅黑;
    line-height: 50px;
    font-size: 32px;
    font-weight: bold;
}
.logo{
    width: 213px;
    height: 100px;
    background: url(../img/03.png) no-repeat;
    background-size: cover;
    float: right;
}
.header_6>a,.header_6>a{
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
    position: relative;
    background-color: #cc3300;
}
.header_5{
    width: 585px;
    height: 167px;
    margin: 109px 0% 320px 7%;
    position: absolute;
    background-color: rgba(254,219,207,-0.5);
}
.header_7>a,.header_7>a{
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
    position: relative;
}
.header_8>a,.header_8>a{
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
    position: relative;
    background-color: hotpink;
    border-radius: 10px;
}
.header_9{
    width: 100%;
    height: 38px;
    background-color: rgba(254,219,207,-0.5);
    position:absolute;
    bottom:0;
}
.header_10{
    width: 960px;
    height: 147px;
    background-color: rgba(254,219,207,-0.5);
    margin: 0 auto;
}
.header_11{
    width: 220px;
    height: 147px;
    background: url(../img/02.jpg) no-repeat;
    background-size: cover;
    padding: 0px 10px;
}
.header_12{
    width: 220px;
    height: 147px;
    background: url(../img/04.jpg) no-repeat;
    background-size: cover;
    padding: 0px 10px;
    margin-left: 236px;
}
.header_13{
    width: 220px;
    height: 147px;
    background: url(../img/05.jpg) no-repeat;
    background-size: cover;
    padding: 0px 10px;
    margin-left: 236px;
}
.header_14{
    width: 220px;
    height: 147px;
    background: url(../img/06.jpg) no-repeat;
    background-size: cover;
    padding: 0px 10px;
    margin-left: 236px;
}
.header_15{
    width: 100%;
    height: 225px;
    background-color: #d90166;
}
.header_16{
    width: 413px;
    height: 257px;
    background: url(../img/07.png) no-repeat;
    background-size: cover;
    float: bottom;
    position: absolute;
    bottom: -360px;
}
.header_17{
    width: 413px;
    height: 257px;
    background: url(../img/08.png) no-repeat;
    background-size: cover;
    float: bottom;
    margin-left: 900px;
    position: absolute;
    bottom: -360px;
}
.header_18{
    width: 120px;
    height: 92px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    margin-top: 67px;
    margin-left: 225px;
}
.header_19{
    width: 120px;
    height: 92px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    margin-top: 67px;
    margin-left:396px;
}
.header_20{
    width: 120px;
    height: 92px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    margin-top: 67px;
    margin-left:560px;
}
.header_21{
    width: 120px;
    height: 92px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    margin-top: 67px;
    margin-left: 726px;
}
.header_22{
    width: 120px;
    height: 92px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    margin-top: 67px;
    margin-left:886px;
}
.header_23{
    width: 92px;
    height: 32px;
    background: url(../img/09.png) no-repeat;
    background-size: cover;
    margin-left: 14px;
    margin-top: 18px;
}
.header_24{
    width: 92px;
    height: 32px;
    background: url(../img/09.png) no-repeat;
    background-size: cover;
    margin-left: 14px;
    margin-top: 18px;
}
.header_25{
    width: 92px;
    height: 32px;
    background: url(../img/09.png) no-repeat;
    background-size: cover;
    margin-left: 14px;
    margin-top: 18px;
}
.header_23>a,.header_23>a{
    text-decoration: none;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 14px;
    color: black;
    float: bottom;
    position: absolute;
    bottom: 19px;
}
.header_24>a,.header_24>a{
    text-decoration: none;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 14px;
    color: black;
    float: bottom;
    position: absolute;
    bottom: 19px;
}
.header_25>a,.header_25>a{
    text-decoration: none;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 14px;
    color: black;
    float: bottom;
    position: absolute;
    bottom: 19px;
}
.header_27>a,.header_25>a{
    text-decoration: none;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 12px;
    color: black;
    float: bottom;
    position: absolute;
    bottom: 19px;
}
.header_28>a,.header_28>a{
    text-decoration: none;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 14px;
    color: black;
    float: bottom;
    position: absolute;
    bottom: 19px;
    margin-left: 18px;
}
.header_27{
    width: 92px;
    height: 32px;
    background: url(../img/10.png) no-repeat;
    background-size: cover;
    margin-left: 14px;
    margin-top: 18px;
}
.header_28{
    width: 92px;
    height: 32px;
    background: url(../img/11.png) no-repeat;
    background-size: cover;
    margin-left: 14px;
    margin-top: 18px;
}
.header_26{
    width: 100%;
    height: 441px;
    background: url(../img/16.jpg) no-repeat;
    background-size: cover;
}
.header_29{
    width: 400px;
    height: 130px;
    background: url(../img/14.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.header_30{
    margin: 0 auto;
}
.header_30>a,.header_30>a{
    color: #d83087;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-left: 40%;
}
.header_31{
    width: 1280px;
    height: 220px;
    background-color: rgba(254,219,207,-0.5);
    margin-top: 30px;
}
.header_32{
    width: 360px;
    height: 220px;
    background: url(../img/15.jpg) no-repeat;
    background-size: cover;
    margin-left: 19%;
}
.header_33{
    width: 360px;
    height: 220px;
    background: url(../img/17.jpg) no-repeat;
    background-size: cover;
    margin-left: 110%;
}
.header_34{
    width: 100px;
    height: 70px;
    background: url(../img/18.png);
    background-size: cover;
    margin-left: 72%;
}
.header_35{
    width: 100%;
    height: 485px;
    background: url(../img/20.jpg) no-repeat;
    background-size: cover;
    margin-top: 10px;
}
.header_36{
    width: 400px;
    height: 130px;
    background: url(../img/21.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.header_37{
    margin: 0 auto;
}
.header_37>a,.header_37>a{
    color: #d83087;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-left: 40%;
}
.header_38{
    width: 100%;
    height: 240px;
    background-color: rgba(254,219,207,-0.5);
    margin-top: 18px;
}
.header_39{
    width: 312px;
    height: 186px;
    background: url(../img/22.jpg) no-repeat;
    background-size: cover;
    margin-left: 10%;
}
.header_40{
    width: 312px;
    height: 186px;
    background: url(../img/23.jpg) no-repeat;
    background-size: cover;
    margin-left: 110%;
}
.header_41{
    width: 312px;
    height: 186px;
    background: url(../img/24.jpg) no-repeat;
    background-size: cover;
    margin-left: 341px;
}
.header_42{
    width: 100%;
    height: 450px;
    background: url(../img/26.jpg) no-repeat;
    background-size: cover;
}
.header_43{
    width: 400px;
    height: 130px;
    background: url(../img/27.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.header_43{
    margin: 0 auto;
}
.header_44>a,.header_44>a{
    color: #d83087;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-left: 40%;
}
.header_45{
    width: 100%;
    height: 400px;
    background-color: rgba(254,219,207,-0.5);
}
.header_46{
    width: 240px;
    height: 150px;
    background: url(../img/29.jpg) no-repeat;
    background-size: cover;
    margin-left: 10%;
}
.header_47{
    width: 240px;
    height: 150px;
    background: url(../img/30.jpg) no-repeat;
    background-size: cover;
    margin-left: 110%;
}
.header_48{
    width: 240px;
    height: 150px;
    background: url(../img/30.jpg) no-repeat;
    background-size: cover;
    margin-left: 261px;
    margin-top: 20px;
}
.header_49{
    width: 240px;
    height: 150px;
    background: url(../img/28.jpg) no-repeat;
    background-size: cover;
    margin-left: 261px;
}
.header_50{
    width: 100%;
    height: 750px;
    background: url(../img/31.jpg) no-repeat;
    background-size: cover;
}
.header_51{
    width: 400px;
    height: 130px;
    background: url(../img/32.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.header_52{
    width: 950px;
    height: 500px;
    background:url(../img/33.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.header_53{
    width: 100%;
    height: 360px;
    background-color: black;
}
.header_54{
    width: 192px;
    height: 21px;
    background-color: black;
    margin-left: 40%;
}
.header_54>a,.header_54>a{
    text-decoration: none;
    position: absolute;
    color: white;
    font-size: 15px;
    line-height: 100px;
}
.header_55{
    width: 98%;
    height: 21px;
    background-color: black;
    margin-left: 20px;
}
.header_55>a,.header_55>a{
    text-decoration: none;
    position: absolute;
    color: white;
    font-size: 14px;
    line-height: 135px;
}
.header_56{
    width: 46px;
    height: 46px;
    background: url(../img/36.png) no-repeat;
    background-size: cover;
    margin-top: 85px;
    margin-left: 45%;
}
.header_57{
    width: 116px;
    height: 59px;
    background: url(../img/34.png) no-repeat;
    background-size: cover;
    margin-top: 19px;
    margin-left: 42%;
}
.header_58{
    width: 219px;
    height: 20px;
    background: url(../img/35.png) no-repeat;
    background-size: cover;
    margin-top: 19px;
    margin-left: 39%;
}